{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
